# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [4]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:

clean_data= pd.read_csv("../output_data/clean_city_data.csv")
clean_data.head()

,City,Temp,Max_temp,Cloudiness,Humidity,Wind Speed,Lat,Long
0,Tuatapere,39.00,39.00,43,83,3.00,-46.13,167.68
1,Mataura,39.00,39.00,55,83,3.00,-46.19,168.86
2,Rurrenabaque,65.55,65.55,87,75,1.59,-14.44,-67.53
3,Atuona,80.33,80.33,14,77,20.20,-9.80,-139.03
4,Morgan City,88.84,91.00,1,66,10.29,29.70,-91.21

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
gmaps.configure(api_key=g_key)

In [8]:
location = clean_data[["Lat","Long"]]
weight = clean_data["Humidity"]

fig = gmaps.figure(center=(5.0, 10.0), zoom_level=2)

heat = gmaps.heatmap_layer(location, weights = weight, dissipating=False, max_intensity=np.max(weight), point_radius=3)

fig.add_layer(heat)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [9]:
clean_data_v2 = clean_data.loc[(clean_data["Wind Speed"] <= 10) & (clean_data["Cloudiness"] == 0) & 
(clean_data["Temp"] >= 70) & (clean_data["Temp"] <= 80)].dropna(how="any")

clean_data_v2.head(25)

,City,Temp,Max_temp,Cloudiness,Humidity,Wind Speed,Lat,Long
174,Nola,73.00,73.00,0,76,1.95,40.92,14.53
204,Corridonia,78.01,78.01,0,79,4.05,43.25,13.51
207,Provincia di Ancona,78.01,78.80,0,69,2.24,43.55,13.17
396,Yuxia,74.46,77.00,0,88,2.24,34.06,108.63
402,Port Said,77.00,77.00,0,78,3.36,31.26,32.28
431,Ierapetra,75.36,78.01,0,64,6.89,35.01,25.74
445,GÃ¼rgentepe,71.60,71.60,0,78,2.24,40.79,37.60
497,Kiryat Gat,71.69,73.00,0,78,1.16,31.61,34.76
516,Bayan,75.36,75.36,0,67,2.84,46.08,127.40
548,Natal,75.20,75.20,0,88,3.36,-5.79,-35.21

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [10]:
hotel_df = clean_data_v2.loc[:,["City","Lat", "Long"]]
hotel_df["Hotel"] = ""
hotel_df.head(25)

                    City    Lat    Long Hotel
174                 Nola  40.92   14.53
204           Corridonia  43.25   13.51
207  Provincia di Ancona  43.55   13.17
396                Yuxia  34.06  108.63
402            Port Said  31.26   32.28
431            Ierapetra  35.01   25.74
445           GÃ¼rgentepe  40.79   37.60
497           Kiryat Gat  31.61   34.76
516                Bayan  46.08  127.40
548                Natal  -5.79  -35.21

In [11]:
search_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
search = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    long = row["Long"]
    city_name = row["City"]
    
    # add keyword to params dict
    search["location"] = f"{lat},{long}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(search_url, params=search).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("No hotel found... skipping.")
        
    print("------------")
    


# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 174: Nola.
Closest hotel in Nola is Holiday Inn Nola - Naples Vulcano Buono.
------------
Retrieving Results for Index 204: Corridonia.
Closest hotel in Corridonia is Hotel San Claudio.
------------
Retrieving Results for Index 207: Provincia di Ancona.
Closest hotel in Provincia di Ancona is Hotel La Torre.
------------
Retrieving Results for Index 396: Yuxia.
Closest hotel in Yuxia is Binhe Commercial Hotel.
------------
Retrieving Results for Index 402: Port Said.
Closest hotel in Port Said is ÙÙØ¯Ù Ø±Ø³ØªØ§ Ø¨ÙØ±Ø³Ø¹ÙØ¯ Resta Port Said Hotel.
------------
Retrieving Results for Index 431: Ierapetra.
Closest hotel in Ierapetra is Cretan Villa Hotel & Apartments in Ierapetra Crete.
------------
Retrieving Results for Index 445: GÃ¼rgentepe.
No hotel found... skipping.
------------
Retrieving Results for Index 497: Kiryat Gat.
Closest hotel in Kiryat Gat is Desert Gat.
------------
Retrieving Results for Index 516: Bayan.
Closest hotel in Bayan is Huanbao Hotel.
------------
Retrieving Results for Index 548: Natal.
Closest hotel in Natal is Porto Suites Natal Hotel.
------------
-------End of Search-------

In [12]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>

</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Long"]]

In [13]:
# Add marker layer ontop of heat map
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))